/* Base.scss */

body {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

body {
    background-color: #fff;
    @include body-font-light;
    margin: 0 auto;
    //margin: top/bottom left/right;
    max-width: 600px;
    width: 100%;
}



h1 {
    font-size: em(60px);
    margin: em(20px) 0 em(40px) 0;
    //margin: top right bottom left;
}

h2 {
    font-size: em(44px);
    margin: em(30px) 0 emem(10px) 0;
}

h3 {
    font-size: em(34px);
    margin: em(20px) 0 em(6px) 0;
}

h4 {
    font-size: em(26px);
    margin: em(20px) 0 em(2px) 0;
}

b, strong {
    @include body-font-light-bold
}

i, em {
    @include body-font-light-italic
}